<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dress Code</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="icon" href="../img/logo_color_blanco_perla.png">

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div id="navPrincipal" class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="../index.html" class="navbar-brand m-3"><img width="200px" src="../img/logo_color_blanco_perla.png"
            alt="logo_color_blanco_perla"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

          <form class="d-flex ms-auto me-3 mt-5" role="search">
            <button class="border border-0 rounded">
              <img width="30px" src="../img/lupa.png" alt="icono_lupa">
            </button>
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" maxlength="15">

            <button type="button" class="btn border-0" id="btn-perfil" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <img width="30px" src="../img/perfil.png" alt="icono_perfil">
            </button>
            <a href="./views/shoppingDetail.html" class="btn-close-white p-1 me-5 ms-3">
              <img width="30px" src="../img/carrito.png" alt="icono_carrito">
            </a>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar sesión</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group m-3">
                        <label for="username"><i class="bi bi-person"></i> Usuario</label>
                        <input type="text" class="form-control" id="username" placeholder="Ingrese su usuario"
                          maxlength="40">
                      </div>
                      <div class="form-group m-3">
                        <label for="password"><i class="bi bi-lock"></i> Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña"
                          maxlength="10">
                      </div>
                      <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                        <label class="form-check-label" for="exampleCheckbox">
                          Recordarme
                        </label>
                      </div>
                      <div class="text-lg-center">
                        <a href="../views/error404.html">¿Olvidaste tu contraseña?</a>
                        <div class="text-lg-start">
                          <h8>Ingresa desde:</h8>
                        </div>
                        <a href="../views/error404.html"><img src="../img/google-facebook.png" alt="facebook-google"
                            style="width: 120px; height: 60px;"><br /></a>
                        <h7>¿Aún no tienes una cuenta en Dress code?</h7><br />
                        <a href="../views/register.html">Regístrate</a>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </nav>


    <ul class="nav justify-content-center mt-3 p-3 ">
      <li class="nav-item">
        <a id="botones-nav" class="nav-link" aria-current="page" href="../index.html">INICIO</a>
      </li>
      <li class="nav-item">
        <a id="botones-nav" class="nav-link" href="../views/contact.html">CONTACTO</a>
      </li>
      <li class="nav-item">
        <a id="botones-nav" class="nav-link " href="../views/about.html">NOSOTROS</a>
      </li>
    </ul>
  </header>

  <main>
    <div class="container text-center">
  
      <div class="row">
        <h1 class="text-start">MI CARRITO</h1>
        <hr class="m-0">
  
        <div class="col-md-8">
  
  
          <div class="card mb-3 card-product">
            <a id="nomb-product" href="../views/productDetail1.html">
              <h5 class="card-header">Traje infantil Valencia</h5>
            </a>
  
            <div class="row g-0">
  
              <div class="col-12 col-lg-3 m-lg-auto">
                <div class="card-img">
                  <img src="../img/imagen_5.jpg" class="img-fluid img-product align-content-start"
                    alt="niño con chalecho y pantalon gris">
                </div>
              </div>
  
              <div class="col-12 col-lg-9">
                <div class="card-body p-1 ">
  
                  <div class="row col-5 ms-auto "> 
                    <a href="./error404.html" class="btn-close-white p-1 mt-2 boton-eliminar m-auto" >
                      <img width="30px" src="../img/eliminaricon.png" alt="icono_carrito">Eliminar
                   </a>            
                  </div>
  
  
                  <div class="row mt-3 mb-3">
  
                    <p class="card-text mt-lg-3 col-lg-8 ">
                      Traje Valencia incluye chaleco, pantalón, camisa, con/sin moño más accesorios adiccionales.</p>
  
                  </div>
  
                  <div class="row mt-lg-4">
  
  
                    <div class="col-lg-3 col-6 ms-auto tamano-select">
                      <label class="form-label">Talle:</label>
                      <select class="form-select select-talle" aria-label="Default select example">
                        <option selected>M</option>
                        <option value="1">S</option>
                        <option value="4">L</option>
                        <option value="5">XL</option>
                        <option value="6">XXL</option>
                      </select>
                    </div>
  
                  </div>
                </div>
  
              </div>
            </div>
            <div class="card-footer text-center d-flex justify-content-between">
              <h5 class="card-text">Subtotal</h5>
              <h5 class="card-text">$15.000</h5>
            </div>
          </div>
  
          <div class="card mb-3 card-product">
            <a id="nomb-product" href="../views/productDetail2.html">
              <h5 class="card-header">Conjunto Beb Nen Varón</h5>
            </a>
            <div class="row g-0">
  
              <div class="col-12 col-lg-3 m-lg-auto">
                <div class="card-img">
                  <img src="../img/imagen_6.jpg" class="img-fluid img-product align-content-start"
                    alt="niño con pantalon con tirantes">
                </div>
              </div>
  
              <div class="col-12 col-lg-9">
                <div class="card-body p-1 ">
  
                  <div class="row col-5 ms-auto ">
                    <a href="./error404.html" class="btn-close-white p-1 mt-2 boton-eliminar m-auto">
                      <img width="30px" src="../img/eliminaricon.png" alt="icono_carrito">Eliminar
                    </a>
                  </div>
  
  
                  <div class="row mt-3 mb-3">
  
                    <p class="card-text mt-lg-3 col-lg-8 ">Conjunto Beb Nen Varón incluye tirantes, pantalón, camisa seda
                      blanca, moño y portatrajes.</p>
  
                  </div>
  
                  <div class="row mt-lg-4">
  
                    <div class="col-lg-3 col-6 ms-auto tamano-select">
                      <label class="form-label">Talle:</label>
                      <select class="form-select select-talle" aria-label="Default select example">
                        <option selected>S</option>
                        <option value="2">M</option>
                        <option value="4">L</option>
                        <option value="5">XL</option>
                        <option value="6">XXL</option>
                      </select>
                    </div>
  
                  </div>
                </div>
  
              </div>
            </div>
            <div class="card-footer text-center d-flex justify-content-between">
              <h5 class="card-text">Subtotal</h5>
              <h5 class="card-text">$17.000</h5>
            </div>
          </div>
  
  
  
        </div>
  
  
        <div class="col-md-4">
  
  
          <div class="card text-center card-product">
            <div class="card-body">
              <h6 class="card-title">¿Tienes un código de descuento?</h6>
  
              <form class="row g-3 m-auto justify-content-center">
                <div class="col-auto">
                  <input type="text" class="form-control input-cupon" placeholder="Código">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-cupon mb-2 rounded">Aplicar</button>
                </div>
              </form>
  
            </div>
          </div>
  
  
  
          <div class="card text-center card-product">
            <h4 class="card-header text-start">Resumen</h4>
            <div class="card-body">
  
  
              <div class="d-flex justify-content-between">
                <p class="card-text">Subtotal</p>
                <p class="card-text">$32.000</p>
              </div>
              <div class="d-flex justify-content-between">
                <h4 class="card-text">Total</h4>
                <h4 class="card-text">$32.000</h4>
              </div>
  
  
  
            </div>
  
            <div class="card-footer text-center ">
  
              <div class="row justify-content-center g-0">
                <a href="./error404.html" id="btn-alquilar" class="col-lg-8 col-md-12 col-sm-6 col-8 btn">ALQUILAR</a>
              </div>
  
              <div class="row justify-content-center g-0 mt-3">
                <a href="../index.html" id="btn-volver" class="col-lg-8 col-md-12 col-sm-6 col-8 btn">VER MÁS</a>
              </div>
  
  
            </div>
  
          </div>
  
  
        </div>
      </div>
    </div>
  </main>

  <footer class="mt-5 p-5">
    <div class="container" style="text-align: center;">
      <div class="row">
        <div class="col-md-4">
          <img src="../img/logo_color_blanco_perla.png" class="img-thumbnail" alt="logo de Dress code">
        </div>
        <div class="col-md-4 mt-4">
          <p class="h5">Contacto</p>
          <ul class="list-unstyled">
            <li>
              Horarios de atención:
            </li>
            <li>
              Lun. a Sáb. 9 hs a 13 hs | 17 hs a 21 hs
            </li>
            <li>
              Mail: dresscode@gmail.com
            </li>
            <li>
              Tel. 381-111222
            </li>
          </ul>
        </div>
        <div class="col-md-4 mt-4">
          <p class="h5">Redes sociales</p>
          <ul class="list-unstyled">
            <li>
              <i class="bi bi-facebook"></i>
            </li>
            <li>
              <i class="bi bi-instagram"></i>
            </li>
            <li>
              <i class="bi bi-tiktok"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="container text-lg-center">
      <div class="row">
        <div div class="col">
          <p class="h5">Información</p>
          <ul class="list-unstyled">
            <li><a href="../views/error404.html" class="infoFooter">Preguntas frecuentes</a></li>
            <li>
              <a href="../views/error404.html" class="infoFooter">Medios de pago</a>
            </li>
            <li>
              <a href="../views/error404.html" class="infoFooter">Envíos a domicilio</a>
            </li>
            <li>
              <a href="../views/error404.html" class="infoFooter">Retiros en sucursal</a>
            </li>
            <li>
              <a href="../views/error404.html" class="infoFooter">Términos y condiciones</a>
            </li>
          </ul>
        </div>
      </div>
      <p> &copy; Dress code 2023 - Todos los derechos reservados</p>
    </div>
  </footer>

  <button class="buttonFixed rounded-circle"><i class="bi bi-whatsapp"></i></button>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>